@charset "UTF-8";
/* =============== Mixin =================*/
/* line 48, ../sass/all.scss */
* {
  box-sizing: border-box;
  font-family: "微軟正黑體", Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* line 52, ../sass/all.scss */
body {
  font-size: 16px;
  padding-top: 70px;
  padding-bottom: 20px;
}

/* line 58, ../sass/all.scss */
.logo {
  max-height: 50px;
  margin-top: -5px;
}

/* line 62, ../sass/all.scss */
.navbar {
  min-height: 70px;
}

/* line 66, ../sass/all.scss */
.navbar-nav > li > a {
  line-height: 40px;
}

/* line 70, ../sass/all.scss */
.slide-height {
  height: 400px;
  background-size: cover;
}

/* line 74, ../sass/all.scss */
.slide-img_01 {
  background: url("../images/slideshow_01.jpg") no-repeat center center;
}

/* line 77, ../sass/all.scss */
.slide-img_02 {
  background: url("../images/headeImg_01.jpg") no-repeat center center;
}

/* line 80, ../sass/all.scss */
.slide-img_03 {
  background: url("../images/slideshow_01.jpg") no-repeat center center;
}

/* line 85, ../sass/all.scss */
.jumbotron {
  background: #eee url("../images/headeImg_01.jpg") no-repeat;
  background-position: top center;
  background-attachment: fixed;
  height: 600px;
}
@media screen and (min-width: 768px) {
  /* line 85, ../sass/all.scss */
  .jumbotron {
    padding: 80px 0;
  }
}

/* line 96, ../sass/all.scss */
.jumbo-text {
  color: #fff;
}
/* line 100, ../sass/all.scss */
.jumbo-text h1 {
  text-shadow: 4px 4px 3px rgba(86, 61, 124, 0.55);
}

/* =============== 自定義部分 =================*/
/* line 107, ../sass/all.scss */
.top {
  width: 40px;
  height: 40px;
  background: #12253b;
  text-align: center;
  line-height: 40px;
}
/* line 113, ../sass/all.scss */
.top:after {
  content: "^";
  display: table-cell;
}

/* line 120, ../sass/all.scss */
.pading_tb {
  padding: 3em 0;
}

@media screen and (max-width: 767px) {
  /* line 124, ../sass/all.scss */
  .pad_margin {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* line 131, ../sass/all.scss */
.textTitle_m {
  margin-top: 10px;
  margin-bottom: 32px;
}

/* line 136, ../sass/all.scss */
.img-area {
  padding: 32px 0;
}

/* line 141, ../sass/all.scss */
.card {
  display: block;
  min-height: 300px;
  text-align: center;
  background: #FFF;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 4px;
  margin-bottom: 20px;
}
/* line 150, ../sass/all.scss */
.card .card-img {
  height: auto;
  margin: -4px -4px 0 -4px;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
/* line 156, ../sass/all.scss */
.card .card-img img {
  display: block;
  width: 100%;
  overflow: hidden;
}
/* line 162, ../sass/all.scss */
.card .card-content {
  padding: 4px;
}

/* line 167, ../sass/all.scss */
.card-btn-area {
  padding: 16px 0;
}

/* line 171, ../sass/all.scss */
.mt20 {
  margin-top: 20px;
}
